

<div class="content-container">
<p class="title">
    Mi obra esta inspirada en Claude Monet (París, 14 de noviembre de 1840-Giverny,
    5 de diciembre de 1926) fue un pintor francés, uno de los creadores del impresionismo. 
    El término impresionismo deriva del título de su obra Impresión, sol naciente (1872).1​
</p> 
<p class="title">
    Sus primeras obras, hasta la mitad de la década de 1860, son de estilo realista. Monet 
    logró exponer algunas en el Salón de París. A partir del final de la década de 1860 comenzó a
     pintar obras impresionistas. Esta desviación del gusto de la época, que era marcado por las academias de arte,
      empeoró su situación económica a la vez que afianzó su decisión de continuar en ese azaroso camino.
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore deserunt, suscipit ullam sit repellendus ex eius? 
    Beatae ex dicta fugiat eveniet repudiandae nulla a, placeat distinctio at in laboriosam dignissimos!


</p>
    <img src="https://www.queensu.ca/artsci_online/sites/asowww/files/styles/wide/public/img/Fundamentals-of-Drawing-and-Painting.jpeg?itok=Cs5wy659" />
</div>