@use '../../styles.scss';

.title{
    display: block;
    font-size: 24px!important;
    padding-top:16px!important;
    padding-bottom:16px!important;
    text-align: center!important;
    box-sizing: inherit;
}
.content-container{
    max-width: 1200px;
    margin-top: 95px;
    padding: 8px 16px!important;
    margin-left: auto;
    margin-right: auto;
    transition: margin-left .4s;
    box-sizing: inherit;
}

.content-table{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    text-align: center!important;
    padding: 0 8px;
    box-sizing: inherit;
    display: block;
    content: "";
    display: table;
    clear: both;
}

.content-element{
    display: block;
    text-align: center!important;
    padding: 0 16px;
    box-sizing: inherit;
    width: 24.99999%;
    float: left;
    
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid styles.$primary-color;
  padding: 5px;
  &:hover {
    box-shadow: 0 0 2px 1px rgba(255, 197, 255, 0.5);
  }
}